.Menu {
    z-index: 1;
    position: fixed;
    background-color: black;
    display: flex;
    padding: 6px;
    border-radius: 10px;
    justify-content: space-between;
    width: 97.8%;
}

.Menu .logo {
    display: flex;
}

.Menu .logo img {
    top: 2px;
    width: 6rem;
    mix-blend-mode: difference;
}

.Menu .logo h1 {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    color: white;
}

.Menu a {
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding-top: 1.3rem;
    height: 18px;
    margin: 3px;
}

a:hover {
    color: black;
    background-color: gainsboro;
}

.poster img {
    width: 100%;
    border-radius: 1rem;
    position: relative;
}

.poster h1 {
    color: white;
    position: absolute;
    z-index: 1;
    top: 15rem;
    left: 15rem;
    font-size: 3rem;
}

.poster a {
    position: absolute;
    background-color: #FF0000;
    z-index: 1;
    top: 30rem;
    text-decoration: none;
    left: 23rem;
    color: white;
    font-size: xx-large;
    border-radius: 0.5rem;
    width: 5rem;
    text-align: center;
    box-shadow: 1px 1px 3px 2px gray;
}

.poster h1 mark {
    background-color: #FF0000;
}

.poster h2 {
    color: white;
    position: absolute;
    z-index: 1;
    top: 20rem;
    left: 15rem;
    font-size: 3rem;
}

@media only screen and (max-width: 480px) {
    .Menu {
        padding: 5px;
    }

    .Menu .logo h1 {
        font-size: 1rem;
    }

    .Menu a {
        padding: 5px;
    }

    .poster h1 {
        font-size: 1.5rem;
        top: 8rem;
        left: 5rem;
    }

    .poster h2 {
        font-size: 1rem;
        top: 12rem;
        left: 5rem;
    }

    .poster a {
        top: 20rem;
        left: 10rem;
        font-size: 0.8rem;
    }
}


.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #0D0D0D;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    text-align: justify;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FF0000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-align: left;
    font-size: 16px;
    text-transform: capitalize;
    /* color: #ffffff; */
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
    background-color: #0D0D0D;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.power {
    color: white;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .footer-col ul {
        display: none;
    }

    .footer-col.collapsible .footer-col ul {
        display: block;
    }
}